<!DOCTYPE html>
<html ng-app="starvox" ng-controller="AppController as main">
<head> 
    <title>Starvox</title>
    <script type="text/javascript">        
        
        var server = '';
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- compiled CSS -->
    <link rel="stylesheet" type="text/css" href="assets/starvox-1.1.0.css" />    
    <!-- compiled JavaScript -->
    <script type="text/javascript" src="assets/starvox-1.1.0.js"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>    
</head>
<body layout="column" class="main-window" ng-cloak>
    <!-- <md-progress-circular class="main-progress md-accent" md-mode="indeterminate"></md-progress-circular> -->
    <svg ng-show="isLoading" class="spinner-container" width="65px" height="65px" viewBox="0 0 52 52">
        <circle class="path" cx="26px" cy="26px" r="20px" fill="none" stroke-width="4px"></circle>
    </svg>
    <md-toolbar ng-hide="search.isSearching" layout="row" class="main-toolbar">
        <div class="md-toolbar-tools">
            <!-- <md-button ng-hide="configuration.hideBackButton" class="md-icon-button" go-back-button>
                <md-icon md-svg-icon="navigation:arrow_back"></md-icon>
            </md-button> -->
            <img class="logo" ui-sref="timeline" src="assets/logo.png" alt=""> 
            <span flex></span>
            <md-button ng-click="window.minimize()" aria-label="minimize" class="md-icon-button frame-button">
                <md-icon md-svg-icon="content:remove"></md-icon>
            </md-button>
            <md-button ng-click="window.maximize()" aria-label="maximize" class="md-icon-button frame-button">
                <md-icon md-svg-icon="image:crop_square"></md-icon>
            </md-button>
            <md-button ng-click="window.close()" aria-label="close" class="md-icon-button frame-button">
                <md-icon md-svg-icon="navigation:close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="search-toolbar" ng-show="search.isSearching">
        <div class="md-toolbar-tools">        
            <md-button aria-label="close search" class="md-icon-button" ng-click="search.hideSearch()">
                <md-icon md-svg-icon="navigation:arrow_back"></md-icon>
            </md-button>
            <md-input-container md-no-float flex>
                <input type="text" focus-me="search.isFocus" ng-model="search.q" placeholder="{{search.text}}">
            </md-input-container>
            <md-button aria-label="remove search text" class="md-icon-button" ng-click="search.q=''" ng-show="search.q.length > 0">
                <md-icon md-svg-icon="navigation:close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div ng-include="'notification/notification.tpl.html'">
        
    </div>    
     <div layout="row" flex>
         <md-sidenav layout="column" class="chat-wrapper md-sidenav-left md-whiteframe-z2" md-component-id="chat" md-is-locked-open="main.isFavLocked">
            <!-- <div ng-include="'favorite/favorite.tpl.html'" flex layout="column" layout-fill></div> -->
        </md-sidenav>
         <div layout="column" flex>
            <md-button ng-hide="hideCallerButton" aria-label="dialpad" ng-click="showCaller()" class="md-fab fab-dial md-accent md-fab-bottom-right" ng-class="{'chat-open': main.isChatLocked}">
                    <md-icon md-svg-icon="communication:call"></md-icon>
                </md-button>
            <md-content layout="column" flex class="md-padding main-content-layout">
                <div ui-view="main" ng-class="{'main-overflow': configuration.overflow}" flex layout="row" layout-wrap></div>
            </md-content>
        </div>
        <md-sidenav layout="column" class="chat-wrapper md-sidenav-left md-whiteframe-z2" md-component-id="chat" md-is-locked-open="main.isChatLocked">
            <div ng-include="'chat/chat.tpl.html'" flex layout="column" layout-fill></div>
        </md-sidenav>
     </div>
</body>
</html>
